body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 99vw;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0.3vw;
}
  
::-webkit-scrollbar-track {
    background-color: #A3BAC3;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: #81898d;
    border-radius: 10px;
}

/* Loader Starts  */
.load {
    height: 100vh;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition-duration: 1s;
  }
  
  .load div {
    width: 2vw;
    height: 2vw;
    background-color: whitesmoke;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
  .load .one {
    animation-delay: 0.1s;
  }
  .load .two {
    animation-delay: 0.2s;
  }
  .load .three {
    animation-delay: 0.3s;
  }
  
  @keyframes up-and-down {
    to {
      opacity: 0.2;
      transform: translateY(-20px);
      -webkit-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
    }
  }

/* Loader Ends  */

a{
    width: fit-content;
}

.main{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-a{
    color: black;
    text-decoration: underline;
}

.footer-a:hover{
    color: #81898d;
    text-decoration: underline;
}

.illus{
    height: 25vw;
    width: 25vw;
    background-image: url('/assets/reading.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -6vw;
    margin-top: -2vw;
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1{
    color: black;
    font-size: 7vw;
    font-weight: bolder;
    margin-bottom: 0.1vw;
}

.heading h2{
    color: black;
    font-weight: normal;
    margin-top: -1vw;
}

.home-btn{
    padding: 0.4vw 1.2vw;
}

#loading{
    display: none;
}

.test-container{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

.t-c{
    z-index: -100;
    background-color: #793FDF;
    height: 100vh;
    width: 70vw;
    left: 700;
    position: absolute;
    transform: skewX(-30deg);
}

#quizQuestionWrapper {
    margin: 2vw;
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
}

.quizQuestion {
    margin-bottom: 2vw;
}

.analyzeh {
    margin-bottom: 2vw;
}

.submit-btn{
    height: 5vw;
}

.submitbtn {
    text-align: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh
}

.results-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentages {
    display: flex;
    justify-content: center
}

.main_pers {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.pers {
    background-color: #16e16e;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 5px;
}

.resultsh1 {
    margin-top: 2vw;
}

.r-bg{
    position: absolute;
    z-index: -100;
}

.r-c1{
    height: 900px;
    width: 900px;
    border-radius: 50%;
    background-color: #793FDF;
    position: absolute;
    top: -40;
    left: 50;
}

.r-c2{
    height: 900px;
    width: 900px;
    border-radius: 50%;
    background-color: #793FDF;
    position: absolute;
    top: -900;
    right: 50;
}

a {
    text-decoration: none !important;
}

.gotoupload {
    margin: auto;
    display: block;
    border: none;
    background-color: black;
    color: white;
    padding: 0.5vw;
    border-radius: 5px;
}

ul li {
    padding: 1vw 0vw;
}

.upload-container{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 2vw;
}

.main-upload{
    margin: 0px;
    margin-top: 2vw;
}

#uploadForm{
    height: 10vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 2vw;
}

.bg {
    position: absolute;
    right: 50vw;
    top: -10vw;
    z-index: -100;
}

.bg .circle{
    width: 80vw;
    height: 80vw;
    background-color: #793FDF;
    border-radius: 50%;
}

